@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.landing-container {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5rem;
  box-sizing: border-box;
}

.portfolio-text {
  font-family: 'Shadows Into Light', cursive;
  font-size: 12rem;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  margin-bottom: 1rem;
  letter-spacing: 0.15em;
  line-height: 1;
}

.name-text {
  font-family: 'Arial', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  margin-top: 4rem;
  margin-left: 0.5rem;
  letter-spacing: 0.2em;
}
